body {
  margin: 0;
}

h1 {
  margin: 0 0 17px 0;
}

h2{
  margin: 0 0 17px 0;
}

h1, h2 {
  line-height: 56px;
  font-size: 48px;
  text-align: left;
  font-weight: 400;
  color: #050038;
}

p{
  color: #050038;
}

.heroText{
  color: #050038;
  margin: 0 0 55px 0;
}

.sectionText{
  color: #696688;
  margin: 0 0 40px 0;
}

header a {
  line-height: 24px;
  font-weight: 400;
  color: #050038;
  font-size: 16px;
  text-decoration: none;
}

nav {
  padding: 33px 50px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 60px;
}

nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  background: #050038;
  padding: 47px 40px;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

#heroButton {
  background-color: #4262ff;
  color: #FFF;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #061b85;
}

#heroImage {
  float: left;
}

.heroForm input {
  border-radius: 32px;
  border-bottom: 1px solid #9b99af;
  height: 38px;
  padding: 5px 10px;
}

.heroForm + p{
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #050038;
  margin: 8px 0 52px 0;
}

.heroForm button {
  height: 48px;
  border: none;
  border-radius: 32px;
  padding: 10px 20px;
}

.heroForm input:focus {
  background-color: aliceblue;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  color: #4262ff;
  text-decoration: underline;
}

.link:hover {
  color: #2544e0;
}

.sectionList {
  list-style: none;
}

.sectionList li::marker {
  content: url('/1-Miro/img/check.svg');
  }

.experimentBlue {
  background: #071766;
  width: 400px;
  height: 300px;
  color: white;
  padding: 10px 20px 50px 30px; 
  border: 5px solid #696688;
  margin: 10px auto;
  }

.divR {
    background: red;
    display: inline;
  }

.divG {
    background: green;
    display: inline;
  }

.divB {
    background: blue;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
  }

.spanR {
    background: red;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }

.spanG {
    background: green;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }

.spanB {
  background: blue;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
  }








