*::selection {
  background-color: #4262ff;
}


#heroButton {
  background-color: #4262ff;
  color: #FFF;
}

#heroButton:hover {
  background-color: #122db6;
}

#heroButton:active {
  background-color: #061b85;
}

.heroForm input:focus {
  background-color: aliceblue;
}

body {
  font-family: 'Roboto', sans-serif;
}

.link {
  color: #4262ff;
  text-decoration: underline;
}

.link:hover {
  color: #2544e0;
}

h1, h2 {
  line-height: 56px;
  font-size: 48px;
  text-align: left;
  font-weight: 400;
  color: #050038;
}

p{
  color: #050038;
}

.firstPicture{
  float: right; /* Перемещает картинку в правую часть страницы */
  text-align: right;
}

heroText{
  color: #050038;
}

.sectionText{
  color: #696688;
}

header a {
  line-height: 24px;
  font-weight: 400;
  color: #050038;
  font-size: 16px;
  text-decoration: none;
}

.heroForm + p{
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

nav ul{
  list-style: none;
}

.sectionList {
  list-style: none;
}

.sectionList li::marker {
  content: url('/1-Miro/img/check.svg');
  }





